sudo: false
language: go
go:
  - 1.8.x
services:
  - mysql
install:
  - go get github.com/go-sql-driver/mysql
  - go get github.com/labstack/echo
before_script:
  - mysql -e 'CREATE DATABASE teamdone_test;'
  - mysql teamdone_test <db.sql
  - |
    echo >config/test.json '
    {
      "adapter": "mysql",
      "database": "teamdone_test",
      "username": "travis",
      "host": "localhost",
      "port": 3306
    }'
